<nav>
  <h4>Quick Edit</h4>
  {{#each buttons as |row|}}
    {{#each row as |button|}}
      {{#unless button.empty}}
        <div>
          <label style="font-weight: normal;">
            <span role=button class="remove-button" aria-label="Remove Word" onclick={{action "removeButton" button}}>
              <span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span>
            </span>
            {{button.label}}
          </label>
        </div>
      {{/unless}}
    {{/each}}
  {{/each}}
  <span aria-label="Add Word">
    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
  </span>
  {{input id="add-word-input" type="text" aria-label="Enter new word here"
  placeholder="Enter new word..."}}
</nav>
