<nav>
  <h4>Quick Edit</h4>
  {{#each buttons as |row|}}
    {{#each row as |button|}}
      {{#unless button.empty}}
        <div>
          <label style="font-weight: normal;">
            <span role=button class="remove-button" aria-label="Remove Word" onclick={{action "removeButton" button}}>
              <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
            </span>
            {{button.label}}
          </label>
        </div>
      {{/unless}}
    {{/each}}
  {{/each}}
</nav>
