<nav>
  <h4>Quick Edit</h4>
  {{#if buttons}}
    {{#each buttons as |row|}}
      {{#each row as |button|}}
        {{#unless button.empty}}
          <div>
            <label style="font-weight: normal;">
              {{input type="checkbox" checked=true}}
              {{button.label}}
            </label>
          </div>
        {{/unless}}
      {{/each}}
    {{/each}}
  {{/if}}
</nav>
