<div>
  <span style='width: calc(100% - 50px); display: inline-block; margin-bottom: 5px;'>
    {{input value=geos class="form-control" placeholder="latitude,longitude"}}
  </span>
  <button class='btn btn-default' {{action 'mark_center'}}><span class='glyphicon glyphicon-screenshot'></span></button>
</div>
<div class="map_with_geo" style="width: 100%; height: 400px;"></div>
<div style="clear: left;"></div>
