<div class="modal fade in" style="display: block;">
  <div class="modal-dialog">
    <div class="modal-content">
      {{yield}}
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
