You requested help logging in to CoughDrop with the email address, <b><%= @email %></b>.<br/><br/>
We couldn't find any logins tied to this email address. But don't worry! You're welcome to
<a href="<%= JsonApi::Json.current_host %>/register">sign up for a free trial of CoughDrop</a> 
and see it in action for yourself. We think you'll like what you see.<br/><br/>
Thanks!<br/>
- The CoughDrop Team
