<% if @user %>
The password for the CoughDrop login, <b><%= @user.display_user_name %></b> was recently updated.<br/><br/>
If this was intentional feel free to ignore this message. If you were not aware of this
password change please 
<a href="https://coughdrop.zendesk.com">notify CoughDrop support</a> immediately.<br/><br/>
Thanks!<br/>
- The CoughDrop Team
<% end %>