This message was written using the CoughDrop augmentative communication app:<br/><br/>

<%= @message %><br/><br/><br/>

Thanks!<br/>
-The CoughDrop Team<br/>
<a href="<%= JsonApi::Json.current_host %>"><%= JsonApi::Json.current_host %></a> 
