{{#opening-observer opening='opening'}}
<div class="flash" style={{extra_styles}}>
  <div class={{display_class}}>
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    {{message}}
  </div>
</div>
{{/opening-observer}}