<div class="row">
  <div class="col-md-3 col-sm-5">
    <div class="well" style="text-align: center;">
      <h2 style="margin-bottom: 10px;">
        <span class='glyphicon glyphicon-flag' style='font-size: 50px;'></span><br/>
        {{#link-to 'goals'}}
          {{t "Communication<br/>Goals" key='communication_goals'}}
        {{/link-to}}
      </h2>
    </div>
  </div>
  <div class="col-md-9 col-sm-7">
    {{outlet}}
  </div>
</div>

