<div class={{elem_class}} style={{elem_style}}>
  <div style="margin-top: 56px; overflow: hidden;">
    <div class="core_words" style="width: 140%; margin: 0 -20%; overflow: hidden; height: 300px;"></div>
  </div>
</div>
