<div class={{elem_class}} style={{elem_style}}>
  <h3>{{t "Parts of Speech" key='parts_of_speech'}}</h3>
  <div class="parts_of_speech_combinations" style="width: 100%; overflow: hidden; height: 300px; margin-bottom: 10px;"></div>
</div>
