<div class={{if side_by_side "col-sm-6" "col-sm-8"}} style={{if right_side "border-left: 1px solid #eee;"}}>
  <h3>{{t "Parts of Speech" key='parts_of_speech'}}</h3>
  <div class="parts_of_speech_combinations" style="width: 100%; overflow: hidden; height: 300px; margin-bottom: 10px;"></div>
</div>
