<div class={{elem_class}} style={{elem_style}}>
  <h3 style="margin-top: 0;">{{t "Word Usage" key='word_usage'}}</h3>
  <div class="daily_stats" style="width: 100%; overflow: hidden; height: 320px;"></div>
</div>
