<div class={{if side_by_side "col-sm-6" "col-sm-8"}} style={{if right_side "border-left: 1px solid #eee;" }}>
  <h3 style="margin-top: 0;">{{t "Word Usage" key='word_usage'}}</h3>
  <div class="daily_stats" style="width: 100%; overflow: hidden; height: 320px;"></div>
</div>
