<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2>Work at CoughDrop</h2>
    <p>CoughDrop is a new app that helps people with special needs communicate using technology. When someone's voice is hard to hear or understand, technology can help fill the gap. Our company is made up of a small, passionate team that's focused on building technology the right way and getting it into the hands of people where it can make the most difference. It's easy to feel good about your job when you're involved in something like this, and we'd love to have you join us.</p>
    <p>Check out the available positions below.</p>
    
    <h3>Support/QA</h3>
    <p>CoughDrop is looking for a support/QA individual who wants to help make a serious difference in special needs technology. We’re a new company that’s already causing a stir in the assistive technology space because, frankly, there’s hasn’t been enough done to enable and empower communicators with complex needs. Every individual voice should be heard and we’re working hard to build technology that supports struggling communicators. We’re located in Utah and are open to remote employees.</p>

    <p>The position would help with handling support requests as well as regression and usability testing.</p>

    <h4>Job Expectations</h4>
    <ul>
      <li>Respond to customer requests and a positive, supportive tone.</li>
      <li>Find and report bugs and errors promptly.</li>
      <li>Manage testing environments and track software regressions.</li>
      <li>Responsible for managing district and program-level sales initiatives.</li>
      <li>Work with product to identify customer requirements.</li>
      <li>Collaborate with product to evaluate customer segments for user stories.</li>
      <li>Prepare training material for presenting the product to potential customers.</li>
      <li>Not be intimidated by long lists of diverse responsibilities.</li>
    </ul>
    
    <h4>Areas of Experience</h4>
    <ul>
      <li>Supporting and troubleshooting cloud-based technology</li>
      <li>Mobile testing</li>
      <li>Customer success management</li>
    </ul>
    
    <h4>Required Skills</h4>
    <ul>
      <li>Listening, written and verbal communication skills.</li>
      <li>Self-motivated with strong decision-making skills.</li>
      <li>Ability to multi-task in a high-energy environment with shifting priorities and limited direction.</li>
      <li>Ability to work independently to accomplish tasks and projects.</li>
      <li>Experience spelling words like “Internet”, “cloud”, “Twitter”, etc.</li>
    </ul>
    
    <p>Interested? Shoot me an email, <a href="mailto:brian@mycoughdrop.com">brian@mycoughdrop.com</a>, with a brief description of your background and why you’re the right fit, along with a portfolio/CV.</p>
  </div>
</div>
