<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2>Respecting User Privacy</h2>
    <p>Updated: Feb 3, 2017</p>
    
    <p>CoughDrop is a powerful, flexible communication app and system that enables communicators 
    and the teams around them to develop a personalized language learning strategy and
    to communicate effectively. CoughDrop uses the cloud to back up, synchronize, and report on
    a communicator's vocabulary and activities. Because of the potentially sensitive nature
    of the information related to an individual's communication, we take user privacy very
    seriously. Below are some of our protection strategies, and best practices that you can
    follow to ensure the privacy and rights of the communicator are respected. The 
    information is provided to help organizations in their decision-making and
    training processes, and should be considered supplementary information, but it may
    change without notice over time.</p>
    
    <h4>General Access</h4>
    <p>By default CoughDrop doesn't collect personal or academic information about our users.
    Access to CoughDrop is login-based, and every user must have a user name, email address,
    and password. However, the email address can be reused or even be invalid if needed.
    <b>We encourage therapy and educational teams who create logins on behalf of their
    users to use anonymized user names</b>, and many programs already have anonymized identifiers
    in place for the users they work with.</p>
    
    <h4>User-Generated Data</h4>
    <p>The CoughDrop application communicates with remote servers to download and update
    user-generated information such as board content, logs, etc. This communication is always
    done over a secure, encrypted (SSL) channel. In addition, user-generated 
    content such as buttons, email address, profile information
    and log data is encrypted before being stored to prevent unauthorized access. Within
    the system users can specify that their account is "public", in which case basic 
    user-entered information like summary, public boards, etc. will be available to
    any CoughDrop users, but this is an opt-in behavior. <b>We discourage communicator
    accounts from being set to public.</b> The 
    user name tied to each account is not encrypted, and without authorization another
    CoughDrop user can check on the existence of a specific user name, but will not be 
    able to retrive any additional non-public information about that user name. This is another 
    reason why we encourage teams to user anonymized user names when creating accounts
    for their communicators.
    
    <p>All CoughDrop
    employees with potential access to personal data are trained on user privacy best practices
    and are instructed to only access information needed for supporting communicators and
    teams. Within the app, access to user information is based on strict access controls,
    and any access to a communicator's information must be authorized by the communicator
    account. The only exception to this is if an organization creates communicator accounts
    and assigns them to communicators, in which case <b>we encourage organizations to make
    sure communicators are aware of and comfortable with the organization's access to their 
    information</b> before proceeding.</p>
    
    <p>Because communication is personal and individualized, many communicators add buttons
    representing personal information, such as family members, medical details, addresses, 
    etc. The system does not prevent this type of information from being added, but it is
    not required. <b>Support teams should talk with communicators before adding potentially
    sensitive information to their boards, as this information could technically be discovered
    by anyone with physical access to the communicator's device.</b></p>
    
    <h4>Logs, Reports and Tracking</h4>
    <p>In addition, communicators can add "supervisors" to their account. Supervisors are 
    additional logins that are tied to a different user, possibly a therapist, parent, teacher,
    grandparent, aide, etc. Supervisors can be added as read-only or with permission to edit
    a communicator's boards. All supervisors have access to a communicator's full vocabulary
    set and any logs that have been recorded. As such, <b>we encourage support teams to 
    check with communicators before adding anyone as a supervisor to their account on their
    behalf.</b>.</p>
    
    <p>CoughDrop has a built-in logging and reporting mechanism that can provide valuable insights
    and summaries of communication usage and progress over time. Data can be a powerful
    tool as support teams try to assess a communicator's progress across multiple 
    environments and times of day. However, logging every button
    a communicator selects is a <b>highly invasive</b> action, and <b>support teams should
    get explicit permission from a communicator before enabling logging on their behalf.</b>
    There are two levels of logging in CoughDrop, general logging which records every action
    in a user's communication session, and an additional level which also tracks GPS
    locations to be used for filtering data based on physical location. Both levels are 
    opt-in, and CoughDrop includes a user-controlled mechanism which can permanently 
    delete all previous logs generated in the system (this purge can take up to 24 hours).</p>
    
    <h4>Third-Party Services</h4>
    <p>Some components of CoughDrop take advantage of third-party services to improve 
    the user experience. For example, CoughDrop reports send anonymized data to the
    Google Charts service to generate visualizations of usage over time. We use some
    troubleshooting and logging services to aid in application troubleshooting that 
    cannot be disabled (these systems track some user metadata such as IP Address and
    User Agent), but all other
    services are opt-in, and the actions that enable these services are clearly delineated
    within the system.</p>
    
    <p>CoughDrop can optionally send out notifications to communicators and supervisors.
    These notifications include things like weekly usage summaries, notifications of badges
    earned, or messages sent by the communicator from within the app. It is possible that
    information sent in these notifications will contain user-generated information such
    as buttons pressed or goals set. These notifications
    can be sent via email, SMS, or as alerts on the user's dashboard. Email is the default
    notification policy. <b>If private information has been added to boards or used in
    creating goals or other such systems, we encourage communicators and supervisors to 
    set their notification preferences to remain within the app so as to prevent 
    the unwanted exposure of user information.</b></p>
    
    <h4>Session Timeouts</h4>
    <p>CoughDrop is accessible from mobile and Windows apps, or from any modern web 
    browser. Access requires entering the user's user name and password before
    being granted access to the user's interface, which will include their own content
    and the content of any users who have added them as a supervisor. 
    When accessing from a web browser, the user session will expire by default
    after 24 hours of inactivity. The user can opt-in to a longer timeout which will
    expire after multiple days of inactivity. <b>To help protect user information, we
    encourage browser-based logins to use the shorter timeout, and to manually log
    out after each session.</b> App-based logins use the longer timeout by default, so
    <b>we encourage app-based logins to set up a device-level PIN or password to prevent
    unauthorized access through the physical device.</b>
    </p>
    
    <p>At CoughDrop we work hard to ensure communicators are respected and given the privacy
    that everyone deserves. If you have questions about these policies please don't hesitate
    to reach out to us.</p>

    <p>© 2017 CoughDrop, Inc. All rights reserved.</p>
  </div>
</div>