<header class="row">
  <span id="nav_header">
    <h1>
      <a href="/">
        <img alt="CoughDrop" src="/images/logo-big.png">
        <span>
          COUGHDROP
        </span>
      </a>
    </h1>
</header>