Thank you for purchasing CoughDrop as a gift for someone else! CoughDrop is a powerful
communication tool that we hope can make a difference in the lives of 
struggling communicators. Below you will find the redemption code you can share
with anyone to give them free access to a premium CoughDrop account. This gift
code will provide one user license, and includes "cloud extras" access 
for <b><%= @gift.duration %></b>.<br/><br/>

The gift code is <b><%= @gift.code %></b>, and is also available by
<a href="<%= JsonApi::Json.current_host %>/redeem/<%= @gift.code %>">
accessing this link</a>.<br/><br/>

To share this gift, just forward this email to someone, or copy the
gift code and share that with them. You will receive an email when the
gift code is redeemed.<br/><br/>

Thanks again for sharing CoughDrop! Please don't hesitate to let us know if 
you have any questions or concerns.<br/><br/>

Thanks!<br/>
-The CoughDrop Team
