This is a notice that you recently redeemed a gift code for the user account
<b><%= @recipient.user_name %></b>. This code, <b><%= @gift.code %></b> gives you
full access to CoughDrop, and includes "cloud extras" access 
for <%= @gift.duration %>. This means you'll have access
to the powerful reporting and support tools available within CoughDrop. We hope they'll
prove beneficial in your communication strategies!<br/><br/>

If this gift was redeemed in error or if you have any questions, please 
<a href="https://coughdrop.zendesk.com">access our support site</a> to make a request 
for help or more information.

Thanks!<br/>
-The CoughDrop Team
