Thank you for subscribing to CoughDrop! Unfortunately there was an unexpected problem 
processing your purchase for the user account <b><%= @user.user_name %></b>. 
Please confirm your credit card information and purchase
settings and 
<a href="<%= JsonApi::Json.current_host %>/<%= @user.user_name %>/subscription">update your
subscription settings again</a>.

If you need help finding a funding solution, please don't be afraid to reach out to us, 
we're willing to work with individuals to find a good solution. Just 
<a href="https://coughdrop.zendesk.com">access our support site</a>
to make a request.<br/><br/>

Thanks!<br/>
-The CoughDrop Team
