Thank you for subscribing to CoughDrop, <b><%= @user.user_name %></b>! We're excited for you to be able to take
advantage of all the great resources that premium CoughDrop users get! CoughDrop was
built to provide a simple and flexible interface for communicators, and a powerful set of tools
to help the support team as they work with those communicators. We hope this app
makes a difference for everyone who uses it.<br/><br/>

For example, CoughDrop can track usage logs and help everyone see what communication 
is looking like over time (make sure to enable logging in your user preferences!), and
the support team can each create their own login and message back and forth or 
access the communicator's reports and logs. Also, you can customize the spacing, 
border size, and activation settings for buttons on a user's preference page as well.<br/><br/>

If you're unsure where to start, feel free to check out our 
<a href="https://coughdrop.zendesk.com">CoughDrop usage guides</a> for walkthroughs of 
common tasks, or to file a ticket if you need help or think something might be broken.<br/><br/>

Thanks again for signing up for CoughDrop! We hope you enjoy using the tool, and please
don't hesitate to let us know if you think of anything we could do to make things easier.<br/><br/>

Thanks!<br/>
-The CoughDrop Team
