This is a notice that the user account <b><%= @user.user_name %></b> needs updated
subscription information. There was an error handling the current subscription, either
the card failed multiple times or the subscription was manually canceled, or something
unexpected occurred.<br/><br/>

To address this problem please 
<a href="<%= JsonApi::Json.current_host %>/<%= @user.user_name %>/subscription">update your subscription settings in CoughDrop</a>.<br/><br/>

If you need more time on your trial or think this message was sent in error, please let us know
and we'll help get to the bottom of things. Just 
<a href="https://coughdrop.zendesk.com">access our support site</a>
to make a request.<br/><br/>

Thanks!<br/>
-The CoughDrop Team
