This is a notice that the user account <b><%= @user.user_name %></b> has an expired
premium subscription. The account will no longer have premium account access, which means
reports and logs have been disabled.<br/><br/>

To address this problem, please reach out to your sponsoring organization or
set up a payment plan in your CoughDrop account.<br/><br/>

If you need more time or need help finding a funding solution, please don't be afraid to reach out to us, 
we're willing to work with individuals to find a good solution. Just 
<a href="https://coughdrop.zendesk.com">access our support site</a>
to make a request.<br/><br/>

Thanks!<br/>
-The CoughDrop Team
