<html manifest="/application.manifest">
  <body>
    Nothing to see here.
    <script>
      if(window.applicationCache && window.applicationCache.status != window.applicationCache.IDLE) {
        window.parent.postMessage('app_not_cached', '*');
      }
    </script>
  </body>
</html>