*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

@font-face{
  font-family:'OpenDyslexic';
  src:url(../fonts/OpenDyslexicAlta-Regular.otf) format('opentype');
}
@font-face{
  font-family:'ArchitectsDaughter';
  src:url(../fonts/ArchitectsDaughter.ttf) format('truetype');
}

#within_ember {
  position: relative;
  background: #fff;
  overflow: hidden; /* Windows-only quirk causes extra scrollbars without this, if you 
                      change, make sure to test sidebar and modal.highlight */
}
#within_ember.color_black {
  background: #000;
  header {
    background: #000;
    border-bottom-color: #444;
  }
  #sidebar {
    background: #000;
    border-left-color: #444;
    border-bottom-color: #444;
  }
  .board_status {
    color: #ccc;
  }
}
#meta_header {
  margin: 20px 50px;
}
header:after {
  clear: left;
}
header.row {
  margin: 0;
}
header:after {
  clear: right;
}
header form .btn {
  height: 34px;
}
header #normal_mode {
  position: absolute; 
  top: 2px; 
  padding-left: 5px;
}
header #normal_mode .btn {
  height: 45px;
  padding-top: 11px;
}
.bold {
  font-weight: bold;
}
h1 {
  display: inline-block; 
  vertical-align: middle; 
  height: 52px;
  margin: 5px 0 0 5px; 
  font-weight: normal;
  font-size: 18px; 
}
h1 span {
  font-size: 25px;
  position: relative; 
  top: 0px;
  left: -5px;
  display: none;
  font-weight: 200;
}
h1 span.label {
  left: 9px;
  top: 25px;
  position: relative; 
  font-size: 12px; 
  margin-right: -50px;
}
h1 a:focus {
  text-decoration: none;
}
.hidden_link {
  color: #444;
  &:hover {
    text-decoration: none;
  }
}
.safe_html {
  width: 100%;
  overflow: hidden;
  white-space: pre-line;
  img {
    max-width: 400px;
  }
}
#board_canvas {
  outline: none;
}
.really_bold {
  font-weight: bold;
  font-size: 18px;
}
.well.with_bg {
  padding: 10px 35px;
  background: #fff;
}
.row .faded_back > div {
  background: rgba(255, 255, 255, 0.5); 
  border-radius: 5px; 
  border: 5px solid rgba(255, 255, 255, 0.25);
}
.row .full_back {
  border: 0; 
  border-radius: 0; 
  overflow: hidden;
  margin: -10px; 
  padding: 10px; 
  width: 101%;
  width: calc(100% + 15px);
}
.row .full_back .icon_column {
   text-align: center; 
   padding: 0 30px;
   
  .big_icon {
    font-size: 100px; 
    vertical-align: middle; 
  }
  .icon_under {
    display: block;
    line-height: 22px; 
    font-size: 17px;
    margin-top: 12px;
  }
}
p.explanation {
  font-size: 13px;
  font-style: italic;
  margin-bottom: 0;
}
#secondary_title {
  display: block;
}
#loading {
  position: absolute;
  top: 50%;
  display: block;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  border: 5px solid rgba(255, 255, 255, 0.25);
  min-height: 50px;
  margin-top: -75px;
  z-index: 9999;
  left: 50%;
  width: 400px;
  margin-left: -200px;
  text-align: center;
  img {
    display: block;
    margin-left: 122px;
    margin-top: 6px;
    width: 100px;
    height: 100px;
  }
}
#login_overlay {
  position: fixed; 
  background: #fafafa; 
  width: auto;
  height: auto; 
  left: 0; 
  right: 0; 
  top: -500px; 
  bottom: -500px; 
  z-index: 9999; 
  padding: 530px 50px; 
  display: flex; 
  flex-direction: column; 
  justify-content: center;
}

header .btn .skinny {
  display: inline;
  font-size: 25px;
}
header .btn .skinny.real_skinny {
  display: inline-block;
  margin-top: -14px;
  margin-bottom: -10px;
  vertical-align: middle;  
}
header .btn.wide {
  display: none; /* TODO: accessibility, duh */
}
header .btn .wide {
  display: none;
}
header .wide_placeholder {
  display: none;
}
header .btn {
  padding-left: 7px;
  padding-right: 7px;
}

#nav_header {
  display: block; 
  float: left; 
  width: -webkit-calc(100% - 60px);
  width: calc(100% - 60px);
  #board_id {
    font-size: 14px; 
    position: absolute; 
    left: 60px; 
    top: 38px; 
    max-width: 300px; 
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
  }
  #header_search {
    display: inline-block; 
    padding-left: 10px;
  }
  &.no_beta {
    h1 {
      margin-top: 20px;
      img {
        margin-top: -15px;
      }
    }
    h1 .label-primary {
      display: none;
    }
    h1.with_board img {
      margin-top: -10px;
    }
  }
}
#speak {
  display: block; 
  float: left; 
  padding: 2px 2px 3px 2px; 
}
#identity {
  text-align: right; 
  padding: 2px 20px 0 0;
  display: block;
  height: 54px;
  width: 60px;
  float: left;
  .unread {
    position: absolute; 
    left: 10px; 
    top: 40px; 
    border-radius: 5px;
  }
  .dropdown {
    .big {
      font-size: 20px;
    }
  }
}
header.speaking #identity {
  width: auto;
  padding-right: 2px;
}
#identity .btn {
  padding-top: 22px;
  overflow: hidden;
  width: 58px;
  padding-left: 30px;
  img {
    height: 40px; 
    margin: -12px 0 -10px -30px;
  }
}
header.speaking #identity .btn {
  width: 58px;
}
#identity .user_name {
  display: none;
  max-width: 85px;
  text-align: right;
  text-overflow: ellipsis;
  overflow: hidden;
  vertical-align: middle;
}
header.speaking #identity .user_name {
  display: none;
}

h1.with_board {
  margin-top: 10px;
  margin-bottom: -5px;
}

h1.with_board span {
  font-size: 20px;
  position: relative; 
  top: -10px;
  left: -5px;
}
h1.with_board span.label {
  display: none;
}
h1 a {
  color: #444;
}
h1 a:hover {
  text-decoration: none;
}
h1 a img {
  padding-top: 5px;
  height: 55px;
  width: 55px;
}
h1.with_board a img {
  padding-top: 0;
  padding-bottom: 5px;
}
h2 {
  margin-top: 0;
  font-size: 25px;
}
.modal {
  background: rgba(0, 0, 0, 0.2);
  .modal-dialog {
    background: #fff;
    border-radius: 6px;
  }
  .modal-header { 
    .close {
      font-size: 50px;
      margin-top: -15px;
    }
  }
}
.modal-header h3 {
  margin-top: 0;
  margin-bottom: 0;
}
.modal-footer {
  text-align: left;
  padding-top: 9px;
  padding-bottom: 10px;
}
.intro_box {
  min-height: 200px;
  h4 {
    margin-top: -5px;
  }
  .pic {
    margin-right: -10px;
    img {
      width: 100%;
      padding: 3px;
      border: 1px solid #ccc;
      min-height: 100px;
    }
  }
}
footer {
  clear: both;
  padding: 20px 20px 0 20px;
}
footer .icons {
  padding-left: 10px;
  opacity: 0.7;
}
footer .skinny_links {
  display: none;
}
footer .wide_links {
  display: block;
}
.highlight.box {
  border: 8px solid #ff0;
  /* border-image: linear-gradient(to bottom right, #f00, #ff0); */
  /* border-image-slice: 1; */
  &.inner {
    border: 4px solid #f00;
    /* border-image: linear-gradient(to bottom right, #00f, #0f0); */
    /* border-image-slice: 2; */
  }
}
.skinny_bio {
  display: none;
  .btn {
    display: block; 
    margin: -10px -5px 0; 
    padding: 5px 10px; 
    text-align: left; 
    border-radius: 0; 
    border-bottom: 1px solid #ccc; 
    font-size: 25px;
    background-color: #49c7e8;
    color: #fff;
    .text-muted {
      color: #eee;
      font-size: 22px;
    }
    > img {
      vertical-align: top;
      margin-top: 2px;
    }
  }
}
.btn.btn-primary.active .text-muted {
  color: #ccc;
}
.filters {
  .active {
    font-weight: bold;
  }
}
.list-group-item.repeat {
  background-color: #ffe;
}
.wide_bio {
  display: block;
}
.button_row:after {
  clear: left;
}
.button_list {
  font-family: arial; 
  font-size: 12px; 
  border: 1px solid #888; 
  vertical-align: top; 
  margin-top: 1px;
  background: #fff;
  text-align: center; 
  display: inline-block; 
  overflow-x: auto;
  overflow-y: scroll;
}
.button_list.with_back {
  width: -webkit-calc(100% - 202px);
  width: calc(100% - 202px);
}
.button_list.ghost_utterance > * {
  opacity: 0.4;
}
.button_list.focus,.button_list:hover {
  background: #f6f6f6;
  border-color: #000;
}
#utterance.button_list {
  width: 100%;
  margin: 20px 0;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  height: 80px;
}
#speak_options {
  height: 40px; 
  margin-left: -45px; 
  margin-right: 12px;
  position: relative;
}
#eyes {
  display: inline-block;
  width: 50px;
  background-color: #afa;
  height: 52px;
  vertical-align: middle;
  border: 1px solid #aaa;
  border-radius: 3px;
  background-image: url(https://s3.amazonaws.com/opensymbols/libraries/noun-project/Eye-c002f4a036.svg);
  background-repeat: no-repeat;
  background-size: 40px 40px;
  background-position: 5px 5px;
}
#eyes.partial_tracking {
  background-color: #ffa;
}
#eyes.not_tracking {
  background-color: #faa;
}
.button_list .history_button img {
  height: 42px; 
  max-width: 60px;
}
.button_list .history_button {
  float: left; 
  max-width: 60px; 
  height: 62px; 
  overflow: hidden; 
  margin: 2px 10px;
  position: relative;
  .modeling {
    position: absolute;
    top: 10px;
    left: 0;
    background: #fff;
    width: 20px;
    height: 20px;
    border-radius: 10px;
  }
}

.button {
  border: 1px solid #ccc; 
  padding: 0px; 
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  overflow: hidden;
}
#stash_hover {
  position: absolute; 
  cursor: pointer;
  left: -100px; 
  z-index: 3; 
  width: 120px; 
  height: 45px;
  font-size: 12px;
  padding: 5px;
  margin-top: -47px;
  margin-left: 10px;
  background: #fff;
  visibility: hidden;
  border: 1px solid #ccc;
  border-radius: 3px;
  opacity: 0.0;
  transition: visibility 0s 0.9s linear, opacity 0.15s ease-in 0.9s;
  -webkit-transition: visibility 0s 0.9s linear, opacity 0.15s ease-in 0.9s;
  &:hover {
    background: #fafafa;
  }
  &.on_button {
    visibility: visible;
    opacity: 1.0;
  }
  .glyphicon {
    float: left;
    font-size: 30px;
    margin-right: 5px;
  }
}

.button .pending {
  position: absolute;
}

.button .pending > img {
  width: 31px; 
  height: 31px; 
  margin: 0; 
  padding: 5px; 
  min-width: 0;
}

.button.link_disabled .action_container {
  .action {
    opacity: 0.4;
  }
  &.talk .action {
    opacity: inherit;
  }
}

.stash_button_container {
  display: block;
  float: left;
  width: 33%;
  padding: 5px;
  .button {
    position: relative;
    img.symbol {
      height: 70px;
      min-width: inherit;
      max-width: inherit;
    }
  }
}

#board_description {
  height: 20px; 
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #888;
  margin-bottom: 10px;
}
#board_description span {
  cursor: pointer;
}
.integration_container {
  position: relative;
  
  #integration_frame {
    width: calc(100% + 40px);
    margin: -10px -20px 0;
  }
  
  #integration_overlay {
    width: calc(100% + 40px);
    margin: -10px -20px 0;
    position: absolute;
    top: 0;
    overflow: hidden;
    .integration_target {
      position: absolute;
      border: 2px dashed #f00;
    }
  }
}
.board .board_status {
  margin: 20px 20px;
  font-size: 18px;
}
.board {
  margin: -10px -20px;
}
.board.finding_target .button, .board.finding_target .button input {
  cursor: copy;
}
.board .button {
  margin: 2px 2px; 
}
.board .button:hover {
  border-width: 2px;
  &.hidden_button {
    border-width: 1px;
  }
}
.board .button.touched, .board .button:focus {
  padding-top: 0px;
  border-width: 5px;
  &.hidden_button {
    border-width: 1px;
  }
}
.board .button.touched .symbol, .board .button:focus .symbol {
  margin-top: -4px;
}
.board.border_none .button {
  border-width: 0;
}
.board.border_none .button:hover {
  border-width: 2px;
  &:hidden_button {
    border-width: 0;
  }
}
.board.border_none .button.touched, .board.border_none .button:focus {
  padding-top: 0px;
  border-width: 5px;
  &:hidden_button {
    border-width: 0;
  }
}
.board.border_medium .button {
  border-width: 2px;
}
.board.border_medium .button:hover {
  border-width: 4px;
  &:hidden_button {
    border-width: 2px;
  }
}
.board.border_medium .button.touched, .board.border_medium .button:focus {
  padding-top: 0px;
  border-width: 5px;
  &:hidden_button {
    border-width: 2px;
  }
}
.board.border_large .button {
  border-width: 5px;
}
.board.border_large .button:hover {
  border-width: 7px;
  &:hidden_button {
    border-width: 5px;
  }
}
.board.border_large .button.touched, .board.border_large .button:focus {
  padding-top: 0px;
  border-width: 10px;
  &:hidden_button {
    border-width: 5px;
  }
}
.board.border_huge .button {
  border-width: 10px;
}
.board.border_huge .button:hover {
  border-width: 12px;
  &:hidden_button {
    border-width: 10px;
  }
}
.board.border_huge .button.touched, .board.border_huge .button:focus {
  padding-top: 0px;
  border-width: 14px;
  &:hidden_button {
    border-width: 10px;
  }
}
.board {
  &.upper .button .button-label {
    text-transform: uppercase;
  }
  &.lower .button .button-label {
    text-transform: lowercase;
  }
  &.comic_sans .button .button-label {
    font-family: "Comic Sans MS", cursive, sans-serif;
  }
  &.open_dyslexic .button .button-label {
    font-family: "OpenDyslexic", Arial, sans-serif;
  }
  &.architects_daughter .button .button-label {
    font-family: "ArchitectsDaughter", Arial, sans-serif;
  }
}
#word_suggestions {
  text-align: center;
  white-space: nowrap;
}
#word_suggestions .suggestion {
  display: inline-block;
  border: 1px solid #ccc;
  padding: 12px 30px;
  margin: -6px 10px 10px;
  cursor: pointer;
  border-radius: 3px;
  background: #fff;
}
#word_suggestions .suggestion:hover, #word_suggestions .suggestion:focus {
  padding: 11px 29px;
  border-width: 2px;
  background: #eee;
}
#word_suggestions {
  .suggestion .image_holder {
    display: block; 
    height: 50px; 
    overflow: hidden;
  }
  .suggestion img {
    height: 50px;
    max-width: 75px;
  }
  a.suggestion {
    color: #000;
    text-decoration: none;
  }
  &.upper .suggestion {
    text-transform: uppercase;
  }
  &.lower .suggestion {
    text-transform: lowercase;
  }
  &.comic_sans .suggestion {
    font-family: "Comic Sans MS", cursive, sans-serif;
  }
  &.open_dyslexic .suggestion {
    font-family: "OpenDyslexic", Arial, sans-serif;
  }
  &.architects_daughter .suggestion {
    font-family: "ArchitectsDaughter", Arial, sans-serif;
  }
  font-size: 18px;
  &.text_small .suggestion {
    font-size: 14px;
  }
  &.text_large .suggestion {
    font-size: 22px;
  }
  &.text_huge .suggestion {
    font-size: 35px;
  }
}
.goal {
  .summary {
    font-weight: bold;
    font-size: 18px;
  }
  .details {
    font-size: 12px;
  }
  .description {
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    max-width: 200px;
    max-width: calc(100% - 200px);
    font-size: 12px;
  }
}
.daily_use > div {
  float: left;
  height: 100px;
  border: 1px solid #eee;
  margin-left: -1px;
  span {
    display: inline-block;
    margin-top: 40px;
    margin-left: -30px;
    transform: rotate(-90deg);
    visibility: hidden;
  }
  &.light {
    background: #bddaf3;
  }
  &.active {
    background: #337ab7;
    color: #fff;
  }
  &:nth-child(5n + 1) {
    span {
      visibility: visible;
    }
  }
}
.daily_use::after {
  content: "";
  display: block;
  clear: both;
}
.listed_badge {
  width: 100%;
  padding: 5px;
  .basics {
    text-align: center;
    width: 150px;
    float: left;
    position: relative;
    .badge_image {
      width: 90%;
    }
    .sparkle {
      font-size: 20px;
    }
  }
  .details {
  }
}
.sparkle {
  font-size: 20px;
  color: #fff;
  position: absolute;
  animation: sparkle 2s infinite linear, sink-margin 2s infinite linear, jump-around 10s infinite steps(1);
}
.sparkle_list_item:nth-of-type(6n+2) .sparkle {
  animation-delay: 2.8s;
}
.sparkle_list_item:nth-of-type(6n+3) .sparkle {
  animation-delay: 4.3s;
}
.sparkle_list_item:nth-of-type(6n+4) .sparkle {
  animation-delay: 0.4s;
}
.sparkle_list_item:nth-of-type(6n+5) .sparkle {
  animation-delay: 3.3s;
}
.sparkle_list_item:nth-of-type(6n) .sparkle {
  animation-delay: 1.4s;
}
.goal_badges {
  min-width: 50%; 
  max-width: 100%;
  margin-bottom: 10px;
  .goal_badge {
    text-align: center; 
    padding: 0 15px;
    &.dim {
      opacity: 0.5;
    }
    .sparkle {
      font-size: 10px;
    }
    .text {
      overflow: hidden; 
      white-space: nowrap; 
      max-width: 100px; 
      margin: 0 auto;
    }
  }
}
@keyframes fade-in {
  0% { background-color: #000; }
  100% { background-color: #f00; }
}
@keyframes sink-margin {
  0% { margin-top: 0; }
  100% { margin-top: 10%; }
}
@keyframes sparkle {
  0% { opacity: 0.0; }
  40% { opacity: 1.0; }
  60% { opacity: 1.0; }
  100% { opacity: 0.0; }
}
@keyframes jump-around {
  0% { top: 20%; left: 20%; }
  20% { top: 30%; left: 70%; }
  40% { top: 60%; left: 30%; }
  60% { top: 50%; left: 60%; }
  80% { top: 15%; left: 70%; }
  100% { top: 20%; left: 20%; }
}
.medal-holder {
  position: relative;
  width: 200px;
  margin: 0 auto;
  height: 300px;
  .medal {
    position: absolute;
    margin-top: 100px;
    animation: fly-in 2s -0.5s linear, swinging 4s 1.5s infinite linear;
  }
  .medal-hanger {
    animation: swing-in 2s -0.5s linear, little-swinging 4s 1.5s infinite linear;
  }
  .medal-ribbon {
    animation: swing-in 2s -0.5s linear;
  }
}
@keyframes swing-in {
  0% { transform: scaleX(0.2) scaleY(0.2) translate(-110px,220px); }
  5% { transform: scaleX(0.3) scaleY(0.3) translate(-170px,80px); }
  15% { transform: scaleX(0.5) scaleY(0.5) translate(-170px,-20px); }
  35% { transform: scaleX(0.5) scaleY(0.5) translate(-260px,40px); }
  47% { transform: scaleX(0.75) scaleY(0.75) translate(-130px,50px); }
  60% { transform: translate(10px,0px); }
  70% { transform: translate(10px,0px); }
  100% { transform: scaleY(1.0) translate(0px,0px); }
}
@keyframes fly-in {
  0% { transform: rotate(60deg) scaleX(0.2) scaleY(0.2) translate(-500px,-100px); }
  60% { transform: rotate(-20deg) scaleX(1.2) scaleY(1.2) translate(20px,20px); }
  70% { transform: rotate(-20deg) scaleX(1.2) scaleY(1.2) translate(20px,20px); }
  100% { transform: scaleX(1.0) scaleY(1.0) translate(0px,0px); }
}
@keyframes swinging {
  0% { transform: rotate(0deg); }
  13% { transform: rotate(5deg) translate(-10px,-2px); }
  23% { transform: rotate(10deg) translate(-20px,-5px); }
  27% { transform: rotate(10deg) translate(-20px,-5px); }
  37% { transform: rotate(5deg) translate(-10px,-2px); }
  50% { transform: rotate(0deg); }
  62% { transform: rotate(-5deg) translate(10px,-2px); }
  73% { transform: rotate(-10deg) translate(20px,-5px); }
  77% { transform: rotate(-10deg) translate(20px,-5px); }
  87% { transform: rotate(-5deg) translate(10px,-2px); }
}
@keyframes little-swinging {
  13% { transform: translate(-2px,-2px); }
  23% { transform: translate(-4px,-5px); }
  27% { transform: translate(-4px,-5px); }
  37% { transform: translate(-2px,-2px); }
  50% { transform: rotate(0deg); }
  62% { transform: translate(2px,-2px); }
  73% { transform: translate(4px,-5px); }
  77% { transform: translate(4px,-5px); }
  87% { transform: translate(2px,-2px); }
}
.confetti {
  width: 10px;
  height: 30px;
  background: #f00;
  border: 2px solid #888;
  animation: flutter 2s infinite linear, in-out 3s linear;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.0;
  &:nth-child(7n+1) {
    background: #0f0;
  }
  &:nth-child(7n+2) {
    background: #00f;
  }
  &:nth-child(7n+3) {
    background: #ff0;
  }
  &:nth-child(7n+4) {
    background: #fa0;
  }
  &:nth-child(7n+5) {
    background: #518;
  }
  &:nth-child(7n+6) {
    background: #f6b;
  }
  &:nth-child(6n+1) {
    animation-delay: -1s;
  }
  &:nth-child(6n+2) {
    animation-delay: -0.8s;
  }
  &:nth-child(6n+3) {
    animation-delay: -0.4s;
  }
  &:nth-child(6n+4) {
    animation-delay: -0.6s;
  }
  &:nth-child(6n+5) {
    animation-delay: -0.2s;
  }
}
@keyframes in-out {
  1% { opacity: 1.0; }
  90% { opacity: 1.0; margin-top: 190px; }
  100% { opacity: 0.0; margin-top: 200px; }
}
@keyframes flutter {
  100% { transform: rotate(360deg); }
}
.text_sample {
  &.upper {
    text-transform: uppercase;
  }
  &.lower {
    text-transform: lowercase;
  }
  &.comic_sans {
    font-family: "Comic Sans MS", cursive, sans-serif;
  }
  &.open_dyslexic {
    font-family: "OpenDyslexic", Arial, sans-serif;
  }
  &.architects_daughter {
    font-family: "ArchitectsDaughter", Arial, sans-serif;
  }
}
.button {
  background-color: #fff;
}
.button a {
  text-decoration: none;
  color: #000;
}
.button img {
  overflow: hidden;
  max-width: 100%;
  min-width: 100%;
}
.button img.symbol {
  /* TODO: this is for consistency's sake, since some symbol sets have a white background
     and others don't, but is it actually a good idea? */
  background: #fff; 
}
.button:hover {
  background: #fafafa;
  border-color: #aaa;
}
.button.touched, .button:focus {
  border-color: #888;
}
.button.hidden_button, .button.empty {
  visibility: hidden;
}
.board.grid_hidden_buttons:not(.edit) .button.hidden_button {
  visibility: visible;
  * {
    visibility: hidden;
  }
  background: #fff;
  border-color: #aaa;
}
.board.hint_hidden_buttons:not(.edit) .button.hidden_button {
  visibility: visible;
  opacity: 0.2;
  .action_container .action {
    display: block;
  }
}
.board.show_all_buttons .button.hidden_button {
  visibility: visible;
  opacity: 1.0;
}
.button.swapping {
  opacity: 0.5;
}
.button.drop_target {
  opacity: 0.5;
}
.board_drop.drop_target {
  cursor: copy;
  opacity: 0.5;
}
.board_drop.drop_target * {
  cursor: copy;
}
.face_button {
  font-size: 12px;
  line-height: 12px;
  width: 100%; 
  white-space: normal;
  .face {
    display: block;
    margin: 0 auto 5px;
    width: 50px;
    height: 50px;
    background-image: url(../images/faces.png);
    background-size: auto 50px;
    &.happy {
      background-position-x: -50px;
    }
    &.neutral {
      background-position-x: -99px;
    }
    &.sad {
      background-position-x: -148px;
    }
  }
}
.face_label {
  .face {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(../images/faces.png);
    background-size: auto 20px;
    &.happy {
      background-position-x: -20px;
    }
    &.neutral {
      background-position-x: -39px;
    }
    &.sad {
      background-position-x: -59px;
    }
  }
}
.big_face {
  .face {
    display: inline-block;
    width: 200px;
    height: 200px;
    background-image: url(../images/faces.png);
    background-size: auto 200px;
    &.happy {
      background-position-x: -200px;
    }
    &.neutral {
      background-position-x: -398px;
    }
    &.sad {
      background-position-x: -598px;
    }
  }
}
#content.with_sidebar .board {
  width: -webkit-calc(100% - 60px);
  width: calc(100% - 60px);
}
html, body {
  overflow: auto;
}
body.pretty_loader {
  overflow: hidden;
}
#content.index.no_user, body.pretty_loader #loading_box {
  background: #fff url('../images/bg.jpg') no-repeat center top; 
  background-size: 100% auto;
  #intro_header {
    background: rgba(0, 0, 0, 0.3);
  }
}
#content.index.with_user {
  background-color: #fff;
  border-top: 30px solid #49c7e8;
  border-bottom: 30px solid #e86060;
  .main_columns {
    background-image: url('../images/orange.png');
    background-size: 33%;
    background-position: center;
    background-repeat: repeat-y;
    margin: -10px -20px;
    padding: 10px 5px;
  }
  .middle_column {
    background: rgba(255, 255, 255, 0.8);
    margin-left: 5px;
    margin-right: 5px;
  }
}
body.pretty_loader #loading_box {
  width: 100%;
  margin-top: 70px;
  height: 800px;
}
#loading_box footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #fff;
}
#sidebar_tease {
  top: 0;
  margin-top: 100px;
  position: absolute;
  right: 0;
  width: 80px;
  height: 40px;
  background: #eee;
  text-align: center;
  border-bottom-left-radius: 5px;
  z-index: 2;
  padding-top: 8px;
  border-left: 1px solid #888;
  border-bottom: 1px solid #888;
  border-top: 1px solid #888;
  color: #888;
  opacity: 0.7;
  cursor: pointer;
}
#sidebar_tease:hover {
  opacity: 1.0;
}
#sidebar {
  top: 0;
  margin-top: 100px;
  position: absolute; 
  right: 0; 
  width: 100px; 
  z-index: 2;
  background: #fff;
  overflow-y: auto;
  overflow-x: hidden;
  border-left: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}
#sidebar .holder {
  position: relative;
  width: 100%;
}
#sidebar a.sidebar_item {
  display: block;
  width: 90%;
  position: relative;
  height: 0;
    
  border: 1px solid #ccc;
  background: #eee;
  margin: 5px auto;
  border-radius: 3px;
  padding: 10px 5px 75% 5px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  .glyphicon {
    position: absolute;
    top: 10px;
    right: 5px;
    color: #444;
  }
  .glyphicon.glyphicon-map-marker {
    left: -67px;
    font-size: 20px;
  }
  .pic {
    display: block;
    width: 60%;
    margin: 0 auto;
  }
}
#sidebar > a:hover {
  text-decoration: none;
}
.board.edit.paint .button, .board.edit.paint .button * {
  cursor: crosshair;
}
.board.edit .button.hidden_button {
  visibility: visible;
  opacity: 0.5;
  .action_container .action {
    display: block;
  }
}
.board.edit .button.empty {
  visibility: visible;
  opacity: 0.5;
}
.board.edit .button.empty .action, .board.edit .button.empty .symbol {
  visibility: hidden;
}
.board.edit .button.empty:hover .action, .board.edit .button.empty:hover .symbol {
  visibility: visible;
}
.board.edit .button.empty:hover {
  opacity: 1.0;
}
.button .button-label-holder {
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  overflow: hidden;
}
.button .button-label-holder.no_image {
  display: block;
  position: relative;
  bottom: 50%;
  transform: translateY(50%);
  left: 0;
  width: 100%;
}
.button .button-label-holder.top {
  bottom: inherit;
  top: -2px;
}
.board:not(.show_labels) {
  .button span.button-label.hide-label {
    display: none;
  }
}
.button span.button-label {
  height: 18px;
  font-family: serif;
  font-size: 18px;
  vertical-align: top;
  white-space: nowrap;
}
.board.text_huge .button {
  .button-label-holder.top {
    top: -10px;
  }
  .button-label {
    font-size: 35px;
    height: 35px;
  }
}
.board.text_huge .button input.button-label {
  height: 42px;
}
.board.text_large .button {
  .button-label-holder.top {
    top: -7px;
  }
  .button-label {
    font-size: 25px;
    height: 25px;
  }
}
.board.text_large .button input.button-label {
  height: 33px;
}
.board.text_small .button .button-label {
  font-size: 14px;
  height: 14px;
}
.board.text_small .button input.button-label {
  height: 21px;
}
.board.text_none .button .button-label {
  display: none;
}
.board .button.small_text {
  span.button-label {
    vertical-align: top;
    font-size: 12px;
    height: 12px;
  }
}
.board .button.really_small_text {
  .button-label-holder {
    height: 16px;
  }
  span.button-label {
    font-size: 12px;
    height: 12px;
    padding: 3px 10px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 3px;
  }
}
.button input.button-label {
  background: rgba(0,0,0,0.0);
  text-align: center;
  width: 80%;
  height: 25px;
  font-family: serif;
  font-size: 18px;
  margin-top: 0px;
  margin-left: 0px;
  border: 1px solid rgba(0,0,0,0.2);
}
.board.edit .button .sound_container {
  position: absolute; 
  left: calc(10% + 5px); 
  padding: 3px;
}
.board.edit .button.touched input.button-label, .board.edit .button:hover input.button-label {
  border: 1px solid #888;
}
.button.small_text input.button-label {
  font-size: 12px;
  height: 20px;
}
.button.small_text .action_container, .button.small_text .action_container .action {
  width: 20px;
  height: 20px;
}
.button.really_small_text input.button-label {
  font-size: 12px;
  height: 20px;
  display: block;
  margin-left: 10%;
}
.button.small_text .action_container, .button.small_text .action_container .action, .button.really_small_text .action_container, .button.really_small_text .action_container .action {
  width: 10px;
  height: 10px;
}
.button .action_container {
  position: absolute;
  height: 30px;
  right: 2px;
  top: 0px;
  visibility: hidden;
  z-index: 2;
}
.button .action_container .action {
  height: 30px;
  width: 30px;
  display: inline-block;
  img {
    vertical-align: top;
  }
}
.hidden_button .action_container .action {
  display: none;
}
.button .action_container.folder, .button .action_container.app, .button .action_container.link, .button .action_container.integration {
  visibility: visible;
}
.button.link_disabled .action_container.folder, .button.link_disabled .action_container.app, .button.link_disabled .action_container.link, .button.link_disabled .action_container.integration {
  visibility: hidden;
}
.board.edit .button .action_container {
  visibility: visible;
  margin: 5px 3px;
}
.board.edit .button .action_container .action {
  border: 2px solid #aaa;
  padding: 3px;
  background: rgba(255, 255, 255, 0.5);
}
.board.edit .button.small_text .action_container .action {
  line-height: 10px;
  padding: 0;
}
.board.edit .button.really_small_text .action_container .action {
  line-height: 5px;
  padding: 0;
}
#content {
  padding: 10px 20px;
}
.btn-default .badge {
  color: #ffffff;
  background-color: #aaa;
}
.cell > div {
  margin: 2px;
  display: block;
  border: 1px solid #ccc;
  border-radius: 2px;
}
.cell {
  padding: 0;
}
.cell.preview > div {
  border: 1px solid #444;
}

.well.board_icon {
  display: block;
  text-decoration: none;
  color: #000;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 10px;
  cursor: pointer;
  text-align: left;
  padding-bottom: 3px;
}
.well.board_icon:hover {
  text-decoration: none;
  background: #eee;
}
.well.board_icon .icon {
  width: -webkit-calc(100% - 40px);
  width: calc(100% - 40px);
  min-width: 50px;
  float: left;
  margin-right: 2px;
  position: relative;
}
.well.board_icon .icon:after {
  /* awesomeness via http://stackoverflow.com/questions/5445491/height-equal-to-dynamic-width-css-fluid-layout */
  /* TODO: the padding trick farther down may be even awesomer... */
  content: "";
  display: block;
  margin-top: 100%;
}
.well.board_icon .icon img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.well.board_icon .names {
  display: inline-block;
  height: 34px;
  overflow-y: hidden;
  margin-bottom: -5px;
}
.well.board_icon .name {
  font-size: 13px; 
  display: inline-block;  
  white-space: normal;
  overflow-y: hidden;
  max-height: 34px;
  margin-bottom: -5px;
}
.well.board_icon .user_name {
  color: #444; 
  display: inline-block;
}
.well.board_icon .labels {
  color: #888; 
  font-size: 10px; 
  display: inline-block;
  white-space: normal;
  height: 15px;
  overflow: hidden;
  margin: 0;
}
.comma_item_list {
  .comma_item:after {
    content: ",";
  }
  .comma_item:last-of-type:after {
    content: "";
  }
}

.board_with_action {
  .board_action {
    position: absolute; 
    width: 50px; 
    height: 50px; 
    background: #f5f5f5; 
    border: 1px solid #e3e3e3; 
    border-bottom-width: 0; 
    border-top-right-radius: 3px; 
    border-top-left-radius: 3px; 
    right: 20px; 
    top: -50px; 
    z-index: 3; 
    padding: 12px; 
    font-size: 21px;
    visibility: hidden;
    opacity: 0.0;
    transition: visibility 0s 0.3s linear, opacity 0.15s ease-in 0.3s;
    -webkit-transition: visibility 0s 0.3s linear, opacity 0.15s ease-in 0.3s;
  }
  &:hover .board_action {
    visibility: visible;
    opacity: 1.0;
  }
}
.video_buttons {
  padding-right: 0;
  .btn {
    width: 100%;
    font-size: 25px;
    margin-bottom: 5px;
  }
}
.main_columns .col {
  .wrapper {
    padding: 10px 5px;
  }
  &:first-child .wrapper {
    margin-bottom: 10px; 
    padding: 0px 5px 10px;
  }
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 10px;
  .row {
    margin-left: 0;
    margin-right: 0;
  }
  
}
.left_links {
  .list-group-item {
    height: 60px;
    padding-top: 10px;
    white-space: nowrap;
    overflow: hidden;
    .glyphicon {
      float: left;
      font-size: 40px;
      margin: 0px 15px 5px 5px;
    }
    &.half_size {
      height: 40px;
      padding-top: 10px;
      .glyphicon {
        font-size: 25px;
        margin: -5px 20px 5px 15px;
      }
    }
    &.subtle {
      > * {
        opacity: 0.5;
      }
      &:hover > *, &:focus > * {
        opacity: 1.0;
      }
    }
    .expired {
      color: #800;
    }
  }
}
.spinning {
animation: spinningAnimation 2s infinite linear;
-webkit-animation: spinningAnimation 2s infinite linear;
}
@keyframes spinningAnimation {
from { -webkit-transform: rotate(0deg) scale(1); }
to { -webkit-transform: rotate(359deg) scale(1); }
}
@-webkit-keyframes spinningAnimation {
from { -webkit-transform: rotate(0deg) scale(1); }
to { -webkit-transform: rotate(359deg) scale(1); }
}

.reveal {
  &.reveal_1 {
    opacity: 1.0;
  }
  &.reveal_2 {
    opacity: 0.0;
    animation: reveal2 20s ease-in infinite;
  }
  &.reveal_3 {
    opacity: 0.0;
    animation: reveal3 20s ease-in infinite;
  }
  &.reveal_4 {
    opacity: 0.0;
    animation: reveal4 20s ease-in infinite;
  }
}
@keyframes reveal2 {
0%, 20%, 55% { opacity: 0.0; }
25%, 50% { opacity: 1.0; }
}
@-webkit-keyframes reveal2 {
0%, 20%, 55% { opacity: 0.0; }
25%, 50% { opacity: 1.0; }
}
@keyframes reveal3 {
0%, 45%, 80% { opacity: 0.0; }
50%, 75% { opacity: 1.0; }
}
@-webkit-keyframes reveal3 {
0%, 45%, 80% { opacity: 0.0; }
50%, 75% { opacity: 1.0; }
}
@keyframes reveal4 {
0%, 70%, 100% { opacity: 0.0; }
75%, 95% { opacity: 1.0; }
}
@-webkit-keyframes reveal4 {
0%, 70%, 100% { opacity: 0.0; }
75%, 95% { opacity: 1.0; }
}


.home_links {
  margin-bottom: 10px;
}
.home_links > div {
  padding: 0 5px 0 0;
}
.home_links .btn {
  /* TODO: looks ugly on long board name */
  width: 100%;
  height: 80px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.home_links:afer {
  clear: left;
}
.button_image {
  border: 1px solid #ccc; 
  padding: 2px; 
  height: 200px; 
  max-width: 400px;
  margin: 0;
}
video.button_image {
  width: 200px;
}
.flash {
  position: fixed; 
  top: 0; 
  left: -webkit-calc(100% / 4); 
  left: calc(100% / 4); 
  right: -webkit-calc(100% / 4); 
  right: calc(100% / 4); 
  width: auto; 
  opacity: 1.0; 
  z-index: 3;
  transition: visibility 0s 2s linear, opacity 1s ease-in-out 1s;
  -webkit-transition: visibility 0s 2s linear, opacity 1s ease-in-out 1s;
}
.flash .alert {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.flash.fade {
  opacity: 0.0;
  visibility: hidden;
}
#share_links {
  a {
    img {
      width: 40px;
      height: 40px;
    }
  }
}
#eye_gaze {
  position: absolute;
  width: 60px;
  height: 60px;
  margin-left: -30px;
  margin-top: -30px;
  border-radius: 30px;
  background: #f00;
  opacity: 0.4;
  z-index: 99999;
}
#eye_gaze.dwell_for_1 {
  width: 56px;
  height: 56px;
  margin-left: -28px;
  margin-top: -28px;
  border-radius: 28px;
  opacity: 0.46;
}
#eye_gaze.dwell_for_2 {
  width: 52px;
  height: 52px;
  margin-left: -26px;
  margin-top: -26px;
  border-radius: 26px;
  opacity: 0.52;
}
#eye_gaze.dwell_for_3 {
  width: 48px;
  height: 48px;
  margin-left: -24px;
  margin-top: -24px;
  border-radius: 24px;
  opacity: 0.58;
}
#eye_gaze.dwell_for_4 {
  width: 44px;
  height: 44px;
  margin-left: -22px;
  margin-top: -22px;
  border-radius: 22px;
  opacity: 0.64;
}
#eye_gaze.dwell_for_5 {
  width: 40px;
  height: 40px;
  margin-left: -20px;
  margin-top: -20px;
  border-radius: 20px;
  opacity: 0.70;
}
#eye_gaze.dwell_for_6 {
  width: 36px;
  height: 36px;
  margin-left: -18px;
  margin-top: -18px;
  border-radius: 18px;
  opacity: 0.76;
}
#eye_gaze.dwell_for_7 {
  width: 32px;
  height: 32px;
  margin-left: -16px;
  margin-top: -16px;
  border-radius: 16px;
  opacity: 0.82;
}
#eye_gaze.dwell_for_8 {
  width: 28px;
  height: 28px;
  margin-left: -14px;
  margin-top: -14px;
  border-radius: 14px;
  opacity: 0.88;
}
#eye_gaze.dwell_for_9 {
  width: 24px;
  height: 24px;
  margin-left: -12px;
  margin-top: -12px;
  border-radius: 12px;
  opacity: 0.94;
}
#eye_gaze.dwell_for_10 {
  width: 20px;
  height: 20px;
  margin-left: -10px;
  margin-top: -10px;
  border-radius: 10px;
  opacity: 1.0;
}
#eye_gaze.dwell_for_11, 
#eye_gaze.dwell_for_12, 
#eye_gaze.dwell_for_13, 
#eye_gaze.dwell_for_14, 
#eye_gaze.dwell_for_15 {
  width: 20px;
  height: 20px;
  margin-left: -10px;
  margin-top: -10px;
  border-radius: 10px;
  opacity: 1.0;
}
#recording_status {
  display: block;
  background: none;
  width: 80px;
  height: 80px;
  border: 2px solid #f66;
  border-radius: 40px;
  margin: 50px auto;
  padding: 0;
}
#recording_status .sub_status {
  display: block;
  width: 70px;
  height: 70px;
  margin: 3px;
  background: #f66;
  border-radius: 35px;
  border: 0;
}
@keyframes recording_throb {
  0% {
    width: 72px;
    height: 72px;
    border-radius: 36px;
    margin: 2px 2.5px;
  }
  80% {
    width: 66px;
    height: 66px;
    border-radius: 33px;
    margin: 5px 5.5px;
  }
}
@-webkit-keyframes recording_throb {
  0% {
    width: 72px;
    height: 72px;
    border-radius: 36px;
    margin: 2px 2.5px;
  }
  80% {
    width: 66px;
    height: 66px;
    border-radius: 33px;
    margin: 5px 5.5px;
  }
}
#recording_status:hover, #recording_status.recording {
  border-color: #f00;
}
#recording_status:hover .sub_status, #recording_status.recording .sub_status {
  background-color: #f00;
}
#recording_status.recording .sub_status {
  -webkit-animation-name: recording_throb;
  -webkit-animation-duration: 500ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;  
  animation-name: recording_throb;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;  
}

#recording_status .sub_status span {
  position: absolute !important;
  height: 1px; width: 1px; 
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

@keyframes target {
  0% {
    transform: scale(1.5);
    opacity: 0.3;
  }
  100% {
    transform: scale(0.5);
    opacity: 0.7;
  }
}
@-webkit-keyframes target {
  0% {
    transform: scale(1.5);
    opacity: 0.3;
  }
  100% {
    transform: scale(0.5);
    opacity: 0.7;
  }
}


@keyframes rota {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@-webkit-keyframes rota {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes opa {
  0% { opacity: 1; }
  50%, 100% { opacity: 0; }
}

@-webkit-keyframes opa {
  0% { opacity: 1; }
  50%, 100% { opacity: 0; }
}

#linger {
  display: block;
  width: 50px;
  height: 50px;
  background-color: #f00;
  opacity: 0.3;
  position: absolute;
  top: -100px;
  left: -100px;
  z-index: 999999;
  border-radius: 100px;
  animation-duration: 2000ms;
  &.temp_hide {
    display: none;
    left: -100px;
  }
  &.targeting.shrink {
    -webkit-animation-name: target;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;  
    animation-name: target;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;  
  }
  &.targeting.pie {
    background: #ccc;
    opacity: 0.6;
    
    .pie {
      width: 50%;
      height: 100%;
      transform-origin: 100% 50%;
      position: absolute;
      background: #f00;
      border: rgba(0, 0, 0, 0.1);
    }

    .spinner {
      border-radius: 100% 0 0 100% / 50% 0 0 50%;
      z-index: 200;
      border-right: none;
      -webkit-animation: rota ease-in-out;
      -webkit-animation-duration: inherit;
      animation: rota ease-in-out;
      animation-duration: inherit;
      animation-iteration-count: 1;
    }

    .filler {
      border-radius: 0 100% 100% 0 / 0 50% 50% 0; 
      left: 50%;
      opacity: 0;
      z-index: 100;
      -webkit-animation: opa steps(1,end)  reverse;
      -webkit-animation-duration: inherit;
      animation: opa steps(1,end)  reverse;
      animation-duration: inherit;
      animation-iteration-count: 1;
      border-left: none;
    }

    .mask {
      width: 50%;
      height: 100%;
      position: absolute;
      background: inherit;
      opacity: 1;
      z-index: 300;
      border-top-left-radius: 100px;
      border-bottom-left-radius: 100px;
      -webkit-animation: opa steps(1,end);
      -webkit-animation-duration: inherit;
      animation: opa steps(1,end);
      animation-duration: inherit;
      animation-iteration-count: 1;
    }
  }
}
#dwell_icon {
  position: absolute;
  z-index: 300;
  border-radius: 10px;
  border: 2px solid #fff;
  background: #000;
  opacity: 0.5;
  width: 10px;
  height: 10px;
}

.label_count.too_many {
  color: #800;
}

#grid_selection {
  height: 30px; 
  padding-right: 30px;
  margin-top: -50px;
  padding-left: 30px;
}

.icon_urls {
  padding-top: 10px;
  margin-top: 2px; 
  overflow: auto; 
  width: -webkit-calc(100% - 42px); 
  width: calc(100% - 42px); 
  height: 60px;
}
.icon_urls img {
  width: 40px; 
  height: 40px;
  margin-bottom: 10px;
}
.button_field {
  display: inline-block; 
  width: -webkit-calc(100% - 75px);
  width: calc(100% - 75px);
}
.picture_search_field {
  display: inline-block;
  width: -webkit-calc(100% - 170px);
  width: calc(100% - 170px);
}
.board_search_field {
  display: inline-block; 
  width: -webkit-calc(100% - 150px);
  width: calc(100% - 150px);
}
.vocalization_field {
  display: inline-block; 
  width: -webkit-calc(100% - 100px);
  width: calc(100% - 100px);
}
.modifier_example_field {
  display: inline-block; 
  width: -webkit-calc(100% - 100px); 
  width: calc(100% - 100px); 
  margin-top: 10px;
}
.dropdown-menu {
  font-size: 18px;
}
.dropdown-menu > li > a {
  padding-top: 7px;
  padding-bottom: 7px;
}
#grid_menuitem {
  .btn {
    height: 40px;
    span {
      vertical-align: middle;
    }
    width: 50px;
  }
}
.file_select_holder {
  position: relative; 
  overflow: hidden;
}
.file_select_holder input {
  cursor: pointer; 
  position: absolute; 
  top: -10px; 
  bottom: -10px;
  left: 0; 
  width: 100%; 
  opacity: 0;
}
#button_settings .options button[disabled] {
  opacity: 0.5;
}
#button_settings .options button[disabled] img {
  opacity: 0.3;
}
#button_settings .options .form-control.inline {
  display: inline;
}
.form-control.inline-masquerade {
  width: 150px; 
  display: inline;
}
.form-control.inline-licenses {
  width: 50px; 
  display: inline;
}
table#pin td a {
  display: block;
  height: 80px;
  width: 100%;
  cursor: pointer;
  color: #000;
  font-size: 24px;
  padding-top: 22px;
}
table#pin td {
  border: 1px solid #ddd;
}
table#pin tr:first-child td {
  border-top-color: #bbb;
}
table#pin tr td:first-child {
  border-left-color: #bbb;
}
table#pin tr td:last-child {
  border-right-color: #bbb;
}
table#pin tr:last-child td {
  border-bottom-color: #bbb;
}
table#pin td a:hover {
  text-decoration: none;
}

table#pin td:hover, table#pin td:focus, table#pin td a.touched {
  background-color: #eee;
}

table>tbody>tr.voice_pad>td {
  padding-top: 15px;
  padding-bottom: 15px;
}

#checklist li.text-muted a {
  color: rgb(153, 153, 153);
}

.swatch {
  width: 18px;
  height: 18px;
  border: 1px solid #888;
  background: #fff;
  display: inline-block;
  margin-bottom: -2px;
}

#button_results {
  margin-top: 10px;
}
#button_results .result {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-top: 3px;
}
#button_results .result:hover {
  background: #eee;
  border-color: #aaa;
  
}
#button_results .result:after {
  content: "";
  display: block;
  clear: left;
}
#button_results .img_holder {
  float: left; 
  margin-right: 10px; 
  width: 40px; 
  height: 40px; 
  overflow: hidden;
}
#button_results .img_holder img {
  height: 40px; 
  max-width: 40px;
}
#button_results .location {
  font-size: 10px;
}
#button_results .location .link_list {
  padding-right: 5px;
}
.panel.summary {
  text-align: center;
  
  .panel-body {
    font-size: 28px;
    font-weight: normal;
    padding: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
  }
  .panel-heading {
    padding: 3px 5px;
  }
  &.smaller {
    .panel-body {
      font-size: 16px;
      .sub_link {
        font-size: 14px;
      }
    }
  }
}
.video_box {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.video_box_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.video_box:before{
  content: "";
  display: block;
  padding-top: 56.25%;
}
.video_box iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.supervisee_list {
  &.tall {
    max-height: 200px;
    overflow: auto;
    .supervisee_nav {
      position: static;
      .dropdown-menu {
        left: inherit;
        top: calc(100% - 20px);
        width: 80%;
      }
    }
  }
}
.supervisee_nav {
  width: 100%;
  a.btn {
    height: 51px;
    width: 80%;
    width: calc(100% - 60px);
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
  }
  button.btn {
    height: 51px;
    width:  20%;
    width: calc(60px);
  }
  .dropdown-menu {
    width: 100%;
  }
}
.user_weeks {
  .week {
    width: 10%; 
    height: 50px; 
    float: left; 
    border: 1px solid #ddd; 
    margin-left: -1px; 
    margin-bottom: -1px;
    margin-top: -1px;
    padding: 5px;
    &.level_0 {
      background: #fff;
    }
    &.level_1, &.level_2 {
      background: #D1E1EE;
    }
    &.level_3, &.level_4 {
      background: #A4C5E1;
    }
    &.level_5, &.level_6, &.level_7 {
      background: #6195C2;
      color: #fff;
    }
    &.level_8, &.level_9, &.level_10 {
      background: #337AB7;
      color: #fff;
    }
    &:hover {
      border-width: 3px;
      padding: 3px;
    }
  }
  .week_label {
    width: 10%; 
    float: left; 
    border: 1px solid rgba(255, 255, 255, 0); 
    margin-left: -1px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 5px;
    padding-bottom: 10px;
    rotate: -15deg;
    color: #888;
  }
}
table tr.long_delay td {
  border-top-width: 2px;
}
.small-placeholder:placeholder-shown {
  font-size: 12px;
}
.btn-group.quick_money {
  .btn {
    z-index: inherit;
    height: 110px; 
    min-width: 180px;
  }
  &.discount .btn {
    padding-top: 35px;
    padding-bottom: 35px;
    height: 130px; 
  }
  .suggested {
    position: absolute; 
    width: 100%; 
    width: calc(100% + 2.5px); 
    color: #000; 
    border: 1px solid #ccc; 
    z-index: 3; 
    top: -1px; 
    left: -1px; 
    background: #afa; 
    padding: 3px 0; 
    text-shadow: 1px 1px 2px #ccc; 
    font-size: 16px;
  }
  .btn.active .suggested {
    text-shadow: 1px 1px 2px #888; 
    background: #32B16D;
    color: #fff;
  }
}
.btn-group.money {
  .btn {
    z-index: inherit;
    font-size: 35px;
    padding-top: 45px;
    padding-bottom: 35px;
    .money-smaller {
      font-size: 14px;
    }
    &.active .money-smaller {
      color: #bbb;
    }
  }
  &.two-line .btn {
    line-height: 21px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 65px;
  }
  &.thick .btn {
    padding-right: 50px;
    padding-left: 50px;
  }
  .suggested {
    position: absolute; 
    width: 100%; width: 
    calc(100% + 3px); 
    color: #000; 
    border: 1px solid #ccc; 
    z-index: 3; 
    top: -1px; 
    left: -1px; 
    background: #afa; 
    padding: 3px 0; 
    text-shadow: 1px 1px 2px #ccc; 
    font-size: 16px;
  }
  .sponsor {
    position: absolute; 
    color: #000; 
    border: 1px solid #ccc; 
    border-top-right-radius: 4px; 
    z-index: 3; 
    top: -1px; 
    left: -1px; 
    background: #cdf; 
    padding: 3px 0; 
    text-shadow: 1px 1px 2px #ccc; 
    font-size: 16px;
  }
  .sponsor_1 {
    width: 406px; 
  }
  .sponsor_2 {
    width: 358px; 
  }
  .sponsor_3 {
    width: 495px; 
  }
  .sponsor_4 {
    width: 526px; 
  }
}
.skinny_subscription .btn-group.money {
  .btn {
    z-index: inherit;
    font-size: 30px;
    .money-smaller {
      font-size: 14px;
      display: block;
    }
  }
  &.two-line .btn {
    padding-right: 20px;
    padding-left: 20px;
  }
  &.thick .btn {
    padding-right: 30px;
    padding-left: 30px;
  }
  .suggested {
    font-size: 12px;
    padding: 6px 0;
  }
  .sponsor {
    font-size: 12px;
    padding: 6px 0;
  }
  .sponsor_1 {
    width: 283px;
  }
  .sponsor_2 {
    width: 257px;
  }
  .sponsor_3 {
    width: 285px;
  }
  .sponsor_4 {
    width: 384px;
  }
}
.subscription_table {
  border-collapse: separate;
  max-width: 600px;
  box-shadow: 0px 10px 10px 1px #888888;
  border-radius: 10px;
  .glyphicon {
    font-size: 20px;
  }
  th {
    padding: 0 0 5px 10px;
  }
  td {
    padding: 10px 10px; 
    border: 1px solid #ddd;
    border-right-width: 0;
    border-bottom-width: 0;
    text-align: center;
    .sale {
      background: #afa; 
      position: absolute; 
      top: 0px;
      width: 100%;
      margin-left: -10px;
      border-bottom: 1px solid #ddd;
      color: #444;
      font-size: 16px;
      padding: 5px 0;
    }
  }
  td.separator {
    border-left-width: 1px;
    border-left-color: #aaa;
    box-shadow: inset 10px 1px 15px -10px #888888;
  }
  td.dim {
    background: #fafafa;
    div.middle {
      background: #fafafa;
    }
  }
  td:last-child {
    border-right-width: 1px;
    border-right-color: #aaa;
  }
  td:first-child {
    border-left-color: #aaa;
  }
  div.middle {
    background: #fff;
    position: absolute;
    right: -25px;
    background: #fff;
    width: 50px;
    height: 40px;
    padding-top: 5px;
    z-index: 2;
    top: 50px;
    font-size: 20px;
  }
  tr:hover {
    td {
      background: #eee;
    }
    div.middle {
      background: #eee;
    }
  }
  tbody tr:first-child td {
    border-top-color: #aaa;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  tbody tr:last-child td {
    border-bottom-color: #aaa;
    padding: 5px;
    .btn {
      width: 100%;
    }
  }
  tbody tr:first-child {
    td:first-child {
      border-top-left-radius: 10px;
    }
    td:last-child {
      border-top-right-radius: 10px;
      box-shadow: inset 10px 1px 15px -10px #222;
    }
  }
  tbody tr:last-child {
    td {
      border-bottom-width: 1px;
    }
    td:first-child {
      border-bottom-left-radius: 10px;
    }
    td:last-child {
      border-bottom-right-radius: 10px;
    }
  }
}
.part_of_speech_box {
  display: inline-block;
  background: rgba(255, 255, 255, 0.0);
  border: 1px solid rgba(255, 255, 255, 0.0);
  width: 20px;
  height: 20px;
  margin-right: 5px;
  margin-bottom: -5px;
  
  &.conjunction {
    border-color: #ccc;
    background-color: #fff;
  }
  &.pronoun {
    background-color: #ffa;
    border-color: #ffff11;
  }
  &.verb {
    background-color: #cfa;
    border-color: #70ff11;
  }
  &.noun, &.nominative {
    background-color: #fca;
    border-color: #ff7011;
  }
  &.adjective {
    background-color: #acf;
    border-color: #1170ff;
  }
  &.question {
    background-color: #caf;
    border-color: #7011ff;
  }
  &.negation, &.interjection, &.expletive {
    background-color: #faa;
    border-color: #ff1111;
  }
  &.preposition {
    background-color: #fac;
    border-color: #ff1170;
  }
  &.adverb {
    background-color: #ca8;
    border-color: #835d38;
  }
  &.article {
    background-color: #ccc;
    border-color: #808080;
  }
  &.unknown {
    background-color: #fff;
    border-color: #ccc;
  }
}

.time_block_rows {
  .time_block {
    float: left;
    display: block;
    width: calc(2% + 1px);
    overflow: hidden;
    margin-left: -1px;
    border: 1px solid #eee; 
    &:nth-child(2n+2) {
      border-left-color: #aaa;
    }
    &:nth-child(49) {
      border-right-color: #aaa;
    }
    &.level_10 {
      background: #428bca;
    }
    &.level_9 {
      background: #428bca;
    }
    &.level_8 {
      background: #5195cf;
    }
    &.level_7 {
      background: #60a0d6;
    }
    &.level_6 {
      background: #71ade0;
    }
    &.level_5 {
      background: #84b7e3;
    }
    &.level_4 {
      background: #9ac7ed;
    }
    &.level_3 {
      background: #a8ceed;
    }
    &.level_2 {
      background: #bddaf3;
    }
    &.level_1 {
      background: #d7e8f7;
    }
  }
  .time_block_top {
    float: left; 
    text-align: center; 
    width: 4%; 
    color: #aaa;
  }
  .time_block_left {
    float: left; 
    width: 4%; 
    color: #aaa;
    overflow: hidden;
  }
  .time_block_row {
    margin-bottom: -1px;
    &:hover {
      .time_block_left {
        color: #444;
        font-weight: bold;
      }
      .time_block {
        border-top-color: #aaa;
      }
      + .time_block_row .time_block {
        border-top-color: #aaa;
      }
    }
    &:last-child:hover {
      .time_block {
        border-bottom-color: #aaa;
      }
    }
  }
  &.wider {
    .time_block_row {
      .face {
        opacity: 0.5;
      }
      &:hover .face {
        opacity: 1.0;
      }
    }
    .time_block_left {
      width: 16%;
      line-height: 30px;
      
      .face {
        display: block;
        margin: 0 auto;
        width: 35px;
        height: 35px;
        background-image: url(../images/faces.png);
        background-size: auto 35px;
        &.happy {
          background-position-x: -35px;
        }
        &.neutral {
          background-position-x: -69px;
        }
        &.sad {
          background-position-x: -103px;
        }
      }
    }
    .time_block {
      width: calc(6% + 1px);
      border-left-color: #eee;
      line-height: 35px;
    }
    .dates {
      .time_block {
        color: #aaa;
        border: 0;
        &:nth-child(2n+1) {
          visibility: hidden;
        }
      }
    }
  }
}
.weighted_word {
  color: #aaa;
  &.weight_10, &.weight_9 {
    font-size: 19px;
    font-weight: bold;
    color: #444;
  }
  &.weight_8, &.weight_7 {
    font-size: 18px;
    font-weight: bold;
    color: #666;
  }
  &.weight_6, &.weight_5 {
    font-size: 16px;
    color: #666;
  }
  &.weight_4, &.weight_3 {
    font-size: 15px;
    color: #888;
  }
}

.compare.table {
  >tbody>tr>td {
    vertical-align: middle;
    text-align: center;
  }
  >tbody>tr>td:first-child {
    text-align: left;
  }
}

.caret-right {
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
  border-left: 4px solid;
  display: inline-block;
  height: 0;
  vertical-align: middle;
  width: 0;
  margin-right: 4px;
  margin-left: 2px;
}
.board_hierarchy {
  > ul {
    padding-left: 0;
  }
  ul {
    list-style-type: none;
    li {
      padding-top: 5px;
      padding-bottom: 5px;
      opacity: 0.7;
      &.selected {
        opacity: 1.0;
      }
    }
    
  }
}

span.hidden-xs {
  display: inline!important;
}

body:fullscreen {
  width: 100%;
  background: #fff;
}
body:-webkit-full-screen {
  width: 100%;
  background: #fff;
}
body:-moz-full-screen {
  width: 100%;
  background: #fff;
}
body:-ms-fullscreen {
  width: 100%;
  background: #fff;
}
 

@media (min-width: 875px) {
  h1 span, h1 span.label {
    display: inline;
  }
  h1 span.label {
    left: -80px; 
    top: 18px; 
  }
  #secondary_title {
    display: none;
  }
}
@media (max-width: 991px) {
  #index_boards_toggle {
    margin-left: -15px;
    padding-left: 15px;
    background-color: #f2d7b6;
    padding-top: 2px;
    padding-bottom: 2px;
  }
  #content.index.with_user .main_columns {
    background-size: 50%;
    background-position: right;
    background-repeat: repeat-y;
  }
  footer .skinny_links {
    display: block;
  }
  footer .wide_links {
    display: none;
  }
  .skinny_bio {
    display: block;
    .dropdown-menu a.active {
      background-color: #f5f5f5;
    }
    .dropdown-meny a.active:hover {
      
    }
  }
  .wide_bio {
    display: none;
  }
  .skinny-right {
    left: auto;
    right: 0;
  }
}
@media (max-width: 767px) {
  span.hidden-xs {
    display: none!important;
  }
  #index_boards_toggle {
    margin-left: -20px;
    padding-left: 20px;
  }
  #content.index.no_user, body.pretty_loader #loading_box {
    background-position: 0 top; 
    background-size: auto 700px;
  }

  #content.index.with_user .main_columns {
    background-size: 100%;
    background-position: center;
    background-repeat: repeat;
    .col:first-child {
      background: #fff;
      border-bottom: 30px solid #e86060;
    }
    .middle_column {
      background: rgba(255, 255, 255, 0.8);
      margin-left: 0;
      margin-right: 0;
    }
  }

  #content.index .main_columns .col:first-child {
    margin: -11px -5px 10px;
    .wrapper {
      margin-left: -5px;
      margin-right: -5px;
      padding-top: 0;
      padding-left: 10px;
      padding-right: 10px;
      h2 {
        position: absolute;
        left: -1000px;
      }
      .left_links {
        margin-left: -10px;
        margin-right: -10px;
        .list-group-item {
          border-right: 0;
          border-left: 0;
          &:first-child {
            border-top-right-radius: 0;
            border-top-left-radius: 0;
          }
          &:last-child {
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
          }
        }
        .half_size {
          padding-top: 15px;
          height: 50px;
        }
      }
    }
  }
  .time_block_rows {
    .time_block_top {
      &:nth-child(2n + 1) {
        visibility: hidden;
      }
    }
  }
  #identity .dropdown .dropdown-menu {
    font-size: 12px;
    .big {
      font-size: 16px;
    }
  }
  #sidebar {
    width: 75px;
    .sidebar_item {
      font-size: 12px;
    }
  }
  table#pin td a {
    height: 40px;
    padding-top: 5px;
  }
}

.really_skinny {
  display: none;
}
@media (max-width: 400px) {
  .really_skinny {
    display: inline;
  }
  .not_really_skinny {
    display: none;
  }
  .dropdown .dropdown-menu.skinny_right {
    left: inherit;
    right: 0;
  }
  .dropdown .dropdown-menu.skinny_grid {
    left: -130px;
  }
}

@media (min-width: 768px) {
  #header_line_2 {
    display: block;
  }
  #speak_options {
    margin-left: -55px; 
  }
  .button_list {
    width: -webkit-calc(100% - 179px); 
    width: calc(100% - 179px); 
  }
  .button_list.with_back {
    width: -webkit-calc(100% - 242px);
    width: calc(100% - 242px);
  }
  .button_list.with_eyes {
    width: -webkit-calc(100% - 232px);
    width: calc(100% - 232px);
  }
  .button_list.with_back.with_eyes {
    width: -webkit-calc(100% - 292px);
    width: calc(100% - 292px);
  }
  header .btn .skinny, header .btn .skinny.real_skinny {
    display: none;
  }
  header .dropdown li.skinny {
    display: none;
  }
  header .btn .wide {
    display: inline;
  }
  header .btn.wide {
    display: inline;
  }
  header .btn {
    padding-left: 12px;
    padding-right: 12px;
  }
  header .wide_placeholder {
    display: inline;
  }
  #identity .user_name {
    display: inline-block;
  }
  #identity {
    width: 150px;
  }
  #identity .btn {
    width: 148px;
  }
  #nav_header {
    width: -webkit-calc(100% - 150px);
    width: calc(100% - 150px);
  }
  #grid_selection {
    padding-left: 10px;
  }
}

