header {
  border-bottom: 1px solid #eee;
  white-space: nowrap;
  height: 70px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  background: #fff;
  
  + #content {
    margin-top: 70px;
  }
  .button_icon {
    font-size: 25px;
  }
  .btn {
    height: 65px;
    &.access {
      padding-left: 18px;
      padding-right: 18px;
      &.skinnier {
        padding-left: 10px;
        padding-right: 10px;
        img {
          width: 25px;
        }
      }
    }
  }
  #button_list {
    height: 63px;
    min-width: 100px;
    width: -webkit-calc(100% - 174px); 
    width: calc(100% - 174px); 
    &.with_back {
      width: -webkit-calc(100% - 225px); 
      width: calc(100% - 225px); 
    }
    .history_button {
      max-width: 60px; 
      height: 62px; 
      margin: 2px 10px;
      img {
        height: 42px; 
        max-width: 60px;
      }
    }
  }
  #blank_status {
    text-align: left; 
    padding-top: 5px; 
    padding-left: 10px; 
    font-size: 16px; 
    opacity: 1.0;
    .progress {
      width: 50px;
      text-align: center;
      margin: 0;
    }
    .eye_status {
      display: none;
      color: #aaa;
      margin-top: 3px;
    }
  }
  #speak {
    width: -webkit-calc(100% - 62px);
    width: calc(100% - 62px);
  }
  #speak_options {
    height: 40px; 
  }
  &.speaking {
    #identity .btn {
      width: 58px;
      img {
        height: 40px; 
        margin: -12px 0 -10px -30px;
      }
    }
    &.tiny {
      height: 50px;
      + #content {
        margin-top: 50px;
      }
      #button_list {
        height: 43px;
        width: -webkit-calc(100% - 136px); 
        width: calc(100% - 136px); 
        &.with_back {
          width: -webkit-calc(100% - 177px); 
          width: calc(100% - 177px); 
        }
        .history_button {
          max-width: 30px; 
          height: 42px; 
          font-size: 11px;
          margin: 1px 7px;
          img {
            height: 26px; 
            max-width: 30px;
          }
        }
      }
      #blank_status {
        font-size: 12px;
        .progress {
          width: 40px;
          height: 15px;
          font-size: 10px;
          .progress-bar {
            font-size: 10px;
          }
        }
      }
      #identity .btn {
        width: 38px;
        padding-right: 12px;
        .unread {
          left: 3px; 
          top: 26px; 
        }
        .caret {
          margin-top: -15px;
        }
        img {
          height: 30px; 
          margin: -30px -3px -10px -30px;
        }
      }
      #speak {
        width: -webkit-calc(100% - 47px);
        width: calc(100% - 47px);
      }
      #speak_options {
        height: 30px; 
      }
      .button_icon {
        font-size: 15px;
      }
      .btn {
        height: 45px;
        &.access {
          padding-left: 15px;
          padding-right: 15px;
          &.skinnier {
            padding-left: 10px;
            padding-right: 10px;
            img {
              width: 15px;
            }
          }
        }
      }
    }
    &.medium {
      height: 100px;
      + #content {
        margin-top: 100px;
      }
      #button_list {
        height: 93px;
        width: -webkit-calc(100% - 242px); 
        width: calc(100% - 242px); 
        &.with_back {
          width: -webkit-calc(100% - 323px); 
          width: calc(100% - 323px); 
        }
        .history_button {
          max-width: 90px; 
          height: 92px; 
          font-size: 15px;
          margin: 10px 15px;
          img {
            height: 55px; 
            max-width: 90px;
          }
        }
      }
      #blank_status {
        font-size: 18px;
        .progress {
          width: 60px;
          font-size: 16px;
        }
        .eye_status {
          display: block;
        }
      }
      #identity .btn {
        width: 78px;
        .unread {
          left: 10px; 
          top: 70px; 
        }
        img {
          height: 60px; 
          margin: -3px 0 -10px -30px;
        }
      }
      #speak {
        width: -webkit-calc(100% - 81px);
        width: calc(100% - 81px);
      }
      #speak_options {
        height: 50px; 
      }
      .button_icon {
        font-size: 45px;
      }
      .btn {
        height: 95px;
        &.access {
          padding-left: 20px;
          padding-right: 20px;
          &.skinnier {
            padding-left: 15px;
            padding-right: 15px;
            img {
              width: 30px;
            }
          }
        }
      }
    }
    &.large {
      height: 150px;
      + #content {
        margin-top: 150px;
      }
      #button_list {
        height: 143px;
        width: -webkit-calc(100% - 396px); 
        width: calc(100% - 396px); 
        &.with_back {
          width: -webkit-calc(100% - 517px); 
          width: calc(100% - 517px); 
        }
        .history_button {
          max-width: 140px; 
          height: 142px; 
          font-size: 20px;
          margin: 10px 15px;
          img {
            height: 100px; 
            max-width: 140px;
          }
        }
      }
      #blank_status {
        font-size: 22px;
        .progress {
          width: 70px;
          > .glyphicon {
            font-size: 16px;
            vertical-align: top;
            line-height: 18px;
          }
          
        }
        .eye_status {
          display: block;
        }
      }
      #identity .btn {
        width: 98px;
        .unread {
          left: 10px; 
          top: 105px; 
        }
        img {
          height: 80px; 
          margin: 15px 0 -10px -30px;
        }
      }
      #speak {
        width: -webkit-calc(100% - 102px);
        width: calc(100% - 102px);
      }
      #speak_options {
        width: 55px;
        margin-left: -70px;
        height: 80px; 
      }
      .button_icon {
        font-size: 65px;
      }
      .btn {
        height: 145px;
        &.access {
          padding-left: 40px;
          padding-right: 40px;
          &.skinnier {
            padding-left: 25px;
            padding-right: 25px;
            img {
              width: 46px;
            }
          }
        }
      }
    }
    &.huge {
      height: 200px;
      + #content {
        margin-top: 200px;
      }
      #button_list {
        height: 193px;
        width: -webkit-calc(100% - 520px); 
        width: calc(100% - 520px); 
        &.with_back {
          width: -webkit-calc(100% - 670px); 
          width: calc(100% - 670px); 
        }
        .history_button {
          max-width: 190px; 
          height: 192px; 
          font-size: 20px;
          margin: 10px 15px;
          img {
            height: 100px; 
            max-width: 140px;
          }
        }
      }
      #blank_status {
        font-size: 26px;
        .progress {
          width: 85px;
          height: 25px;
          font-size: 20px;
          .progress-bar {
            font-size: 16px;
            line-height: 28px;
          }
        }
        .eye_status {
          display: block;
        }
      }
      #identity .btn {
        width: 98px;
        .unread {
          left: 10px; 
          top: 125px; 
        }
        img {
          height: 80px; 
          margin: 35px 0 -10px -30px;
        }
      }
      #speak {
        width: -webkit-calc(100% - 102px);
        width: calc(100% - 102px);
      }
      #speak_options {
        height: 120px; 
        margin-left: -90px;
        width: 75px;
      }
      .button_icon {
        font-size: 65px;
      }
      .btn {
        height: 195px;
        &.access {
          padding-left: 60px;
          padding-right: 60px;
          &.skinnier {
            padding-left: 40px;
            padding-right: 40px;
            img {
              width: 60px;
            }
          }
        }
      }
    }
  }
}